h1{
	text-align: center;
}

.lastPic{
	text-align: center;
}
.rcorners {
    float: left;
    border-radius: 25px;
    border: 2px solid #2b2354;
    padding: 20px; 
}
.prof {
    border-radius: 25px;
    width: 100px;
    height: 100px;  
}
.cancel {
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.view {
    background-color: #2b2354;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.appt {
	float: right;
}
.left {
    float:left;
    width: 33%;
}
.right {
    float:left;
    width: 33%;
}
.main {
    float:left;
    width: 33%;
}

@media (max-width:800px){
    .left, .main, .right {
        width:100%;
    }
}
