h1, h2{
	padding: 20px;
}

.content {
    width: 80%;
	padding: 20px;
    overflow: hidden;
}

.content img {
    margin-right: 15px;
    float: left;
	width: 30%;
	height: 30%;
}

.btn{
  display: block;
  width: 80px;
  color: white;
  background-color: #2b2354;
}

.appts {
    width: 100%;
	border: 3px solid black;
    padding: 20px;
    overflow: hidden;
}

.appts img {
    margin-right: 15px;
    float: left;
	width: 10%;
	height: 8%;
}

.btn2{
    background-color: #2b2354; 
	width: 20%;
    color: white; /* White text */
    cursor: pointer; /* Pointer/hand icon */
    display: block; /* Make the buttons appear below each other */
	float: right;
}

.gallery{
	border: 3px solid black; 
	overflow: hidden; 
	background-color: white;
}

.gallery img{
	width: 10%; 
	height: 8%;
} 
