.container {
  font-size: 30px;
}

.btn {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0.7em;
  display: block;
  width: 15%;
  color: floralwhite;
  background-color: #2b2354;
}

.form-group{
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 1.0em;
	margin-top: 1.0em;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.radio-button{
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 1.0em;
	margin-top: 1.0em;
	text-align: center;
}

#forgotPassLink {
  display: block;
  text-align: center;
  color: blue;
  font-size: 20px;
}

#forgotPassHolder {
  width: 50%;
  margin: auto;
}